.custom-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0000004a;
  transition: width 0.3s ease, transform 0.3s ease; /* Agrega una transición suave */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots {
  bottom: -19px;
}

.slick-dots li.slick-active .custom-dot {
  width: 18px;
  height: 8px;
  border-radius: 12px; /* Para mantener los bordes redondeados */
  background-color: white;
  transform: translateX(-50%); /* Mantiene la bolita centrada */
}

.carousel-container {
  background-image: url("../../../public/assets/figRed.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  padding: 0.5rem; /* Equivalente a p-2 en Tailwind CSS */
  border-radius: 12px; /* Equivalente a rounded-[12px] en Tailwind CSS */
}
